.container-footer {
    height: 100px;

    p {
        font-weight: 600;
        font-size: 12px;   
    }

    a {
        font-weight: 600;
        letter-spacing: 0.1rem;
        background: linear-gradient(to right, var(--red-color), var(--purple-color), var(--blue-color));
        -webkit-text-fill-color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
    }
}

